In [58]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
df = pd.read_csv('/Users/adminsha/Downloads/applications(2.0).csv')
df1 = pd.read_csv('/Users/adminsha/Downloads/industries(2.0).csv')
df.head(12)

,Applied at,Amount,Age,Gender,Industry,Marital status,External Rating,Education level,Location,applicant_id
0,11.30.2022 10:26:37,12000.0,29,Чоловік,Blockchain,Other,8.0,"Вища (бакалавр, спеціаліст, магістр)",Івано-Франківськ чи область,99e7b0dc6cc05dd334d8f38dc26ce9b3
1,11.30.2022 10:26:39,NaN,36,Чоловік,Public services / Government,Single,3.0,"Вища (бакалавр, спеціаліст, магістр)",NaN,63dfcf8e6904186650d6814279fbe42f
2,11.30.2022 10:26:58,7500.0,34,Чоловік,Adtech / Advertising,Single,4.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,10dbafaeb46c09e96b6987c03bbb3498
3,11.30.2022 10:27:31,1500.0,23,Жінка,Telecom,Single,0.0,"Вища (бакалавр, спеціаліст, магістр)",Львів чи область,5847ac62cc9eac5e323c2517dcc91ad1
4,11.30.2022 10:27:34,8400.0,33,Жінка,Automotive,Single,6.0,"Вища (бакалавр, спеціаліст, магістр)",Житомир чи область,5d21f3795b50de8e8f8f8d5f48b754f3
5,11.30.2022 10:27:38,16500.0,31,Чоловік,E-commerce,Single,8.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,f720bf9c5c4c3e10a8568c1699847696
6,11.30.2022 10:27:42,4200.0,30,Чоловік,Media,Married,1.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,0aaf59fb3ef90f50ccd4800312e5c271
7,11.30.2022 10:27:44,3600.0,24,Чоловік,E-commerce,Married,1.0,"Вища (бакалавр, спеціаліст, магістр)",Львів чи область,aa54d6e672e4233febadbafdfd048327
8,11.30.2022 10:28:00,1950.0,27,Чоловік,Automotive,Married,1.0,"Вища (бакалавр, спеціаліст, магістр)",Львів чи область,2eed2883cd1673b21b2ce89d1115c245
9,11.30.2022 10:28:00,NaN,17,Чоловік,Інша,Married,2.0,Ще студент вишу,NaN,9c7a640dccb37d9f2164bac1deb0edfa
10,11.30.2022 10:28:03,18000.0,25,Чоловік,Dating,Single,5.0,"Вища (бакалавр, спеціаліст, магістр)",Дніпро чи область,f8138219d5a95649cc85bdabeb3732ca
11,11.30.2022 10:28:21,19800.0,29,Чоловік,Edtech / Education,Single,0.0,"Вища (бакалавр, спеціаліст, магістр)",Львів чи область,9db8b1c7ed0fc6e3fe79a41ac3468442

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13315 entries, 0 to 13314
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Applied at       13315 non-null  object
 1   Amount           13272 non-null  float64
 2   Age              13315 non-null  int64
 3   Gender           13315 non-null  object
 4   Industry         13315 non-null  object
 5   Marital status   13315 non-null  object
 6   External Rating  13243 non-null  float64
 7   Education level  13282 non-null  object
 8   Location         11540 non-null  object
 9   applicant_id     13315 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 1.0+ MB

In [8]:
without_dub = df.drop_duplicates(subset=['applicant_id'], inplace=True)
print(without_dub)

None

In [9]:
df['External Rating'] = df['External Rating'].fillna(0)
df['External Rating']

0         8.0
1         3.0
2         4.0
3         0.0
4         6.0
         ...
13310     6.0
13311     5.0
13312     3.0
13313     8.0
13314    11.0
Name: External Rating, Length: 13278, dtype: float64

In [10]:
df['Education level'] = df['Education level'].fillna("Середнє")
df['Education level']

0        Вища (бакалавр, спеціаліст, магістр)
1        Вища (бакалавр, спеціаліст, магістр)
2        Вища (бакалавр, спеціаліст, магістр)
3        Вища (бакалавр, спеціаліст, магістр)
4        Вища (бакалавр, спеціаліст, магістр)
                         ...
13310    Вища (бакалавр, спеціаліст, магістр)
13311    Вища (бакалавр, спеціаліст, магістр)
13312    Вища (бакалавр, спеціаліст, магістр)
13313                                 Середня
13314    Вища (бакалавр, спеціаліст, магістр)
Name: Education level, Length: 13278, dtype: object

In [11]:
df1.head(12)

                        Industry  Score
0                     Blockchain      0
1   Public services / Government     20
2           Adtech / Advertising     10
3                        Telecom     15
4                     Automotive     15
5                     E-commerce     15
6                          Media      5
7                           Інша     10
8                         Dating      5
9             Edtech / Education     15
10                         Legal     20
11                      Big Data     20

In [12]:
df2 = pd.merge(df, df1)

In [13]:
df2['AgeCriterium'] = df2['Age'].apply(lambda x: 20 if 35 < x < 55 else 0)

In [14]:
df2['MarriageCriterium'] = df2['Marital status'].apply(lambda x: 20 if x == 'Married' else 0)

In [15]:
df2['LocationCriterium'] = df2['Location'].apply(lambda x: 10 if x == 'Київ чи область' else 0)

In [16]:
df2['ExtCriterium'] = df2['External Rating'].apply(lambda x: 20 if x >= 7 else (-20 if x < 2 else 0))
df2.head(7)

,Applied at,Amount,Age,Gender,Industry,Marital status,External Rating,Education level,Location,applicant_id,Score,AgeCriterium,MarriageCriterium,LocationCriterium,ExtCriterium
0,11.30.2022 10:26:37,12000.0,29,Чоловік,Blockchain,Other,8.0,"Вища (бакалавр, спеціаліст, магістр)",Івано-Франківськ чи область,99e7b0dc6cc05dd334d8f38dc26ce9b3,0,0,0,0,20
1,11.30.2022 10:30:00,NaN,22,Чоловік,Blockchain,Single,2.0,Ще студент вишу,NaN,bef0a5ba4df413cb8e1e3edeaf1f7de3,0,0,0,0,0
2,11.30.2022 10:36:59,30000.0,29,Чоловік,Blockchain,Single,7.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,d85404bd5576f05b711ad56cad428463,0,0,0,10,20
3,11.30.2022 10:44:28,16050.0,50,Чоловік,Blockchain,Other,15.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,667563fc9922d71c7c2bfa8e9fba9fbc,0,20,0,10,20
4,11.30.2022 10:46:30,8550.0,40,Чоловік,Blockchain,Married,1.0,"Вища (бакалавр, спеціаліст, магістр)",Одеса чи область,056d0a80808828a4d4017224fd17491e,0,20,20,0,-20
5,11.30.2022 10:48:36,8400.0,27,Чоловік,Blockchain,Married,6.0,"Вища (бакалавр, спеціаліст, магістр)",Черкаси чи область,56f735f424804136be23a2c0cce2ac65,0,0,20,0,0
6,11.30.2022 10:48:58,5400.0,19,Чоловік,Blockchain,Married,1.0,Ще студент вишу,Дніпро чи область,a4ba22c3ed6b416d74a4c348a1b83e21,0,0,20,0,-20

In [17]:
df['Applied at'] = pd.to_datetime(df['Applied at'], format = 'mixed')
df.head(7)

,Applied at,Amount,Age,Gender,Industry,Marital status,External Rating,Education level,Location,applicant_id
0,2022-11-30 10:26:37,12000.0,29,Чоловік,Blockchain,Other,8.0,"Вища (бакалавр, спеціаліст, магістр)",Івано-Франківськ чи область,99e7b0dc6cc05dd334d8f38dc26ce9b3
1,2022-11-30 10:26:39,NaN,36,Чоловік,Public services / Government,Single,3.0,"Вища (бакалавр, спеціаліст, магістр)",NaN,63dfcf8e6904186650d6814279fbe42f
2,2022-11-30 10:26:58,7500.0,34,Чоловік,Adtech / Advertising,Single,4.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,10dbafaeb46c09e96b6987c03bbb3498
3,2022-11-30 10:27:31,1500.0,23,Жінка,Telecom,Single,0.0,"Вища (бакалавр, спеціаліст, магістр)",Львів чи область,5847ac62cc9eac5e323c2517dcc91ad1
4,2022-11-30 10:27:34,8400.0,33,Жінка,Automotive,Single,6.0,"Вища (бакалавр, спеціаліст, магістр)",Житомир чи область,5d21f3795b50de8e8f8f8d5f48b754f3
5,2022-11-30 10:27:38,16500.0,31,Чоловік,E-commerce,Single,8.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,f720bf9c5c4c3e10a8568c1699847696
6,2022-11-30 10:27:42,4200.0,30,Чоловік,Media,Married,1.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,0aaf59fb3ef90f50ccd4800312e5c271

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13315 entries, 0 to 13314
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Applied at       13315 non-null  datetime64[ns]
 1   Amount           13272 non-null  float64
 2   Age              13315 non-null  int64
 3   Gender           13315 non-null  object
 4   Industry         13315 non-null  object
 5   Marital status   13315 non-null  object
 6   External Rating  13243 non-null  float64
 7   Education level  13282 non-null  object
 8   Location         11540 non-null  object
 9   applicant_id     13315 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(6)
memory usage: 1.0+ MB

In [18]:
df['Applied at'].dt.day_name()

0        Wednesday
1        Wednesday
2        Wednesday
3        Wednesday
4        Wednesday
           ...
13310       Monday
13311       Monday
13312       Monday
13313       Monday
13314       Monday
Name: Applied at, Length: 13278, dtype: object

In [19]:
df2['Day']=df['Applied at'].dt.day_name()
df2.head()

,Applied at,Amount,Age,Gender,Industry,Marital status,External Rating,Education level,Location,applicant_id,Score,AgeCriterium,MarriageCriterium,LocationCriterium,ExtCriterium,Day
0,11.30.2022 10:26:37,12000.0,29,Чоловік,Blockchain,Other,8.0,"Вища (бакалавр, спеціаліст, магістр)",Івано-Франківськ чи область,99e7b0dc6cc05dd334d8f38dc26ce9b3,0,0,0,0,20,Wednesday
1,11.30.2022 10:30:00,NaN,22,Чоловік,Blockchain,Single,2.0,Ще студент вишу,NaN,bef0a5ba4df413cb8e1e3edeaf1f7de3,0,0,0,0,0,Wednesday
2,11.30.2022 10:36:59,30000.0,29,Чоловік,Blockchain,Single,7.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,d85404bd5576f05b711ad56cad428463,0,0,0,10,20,Wednesday
3,11.30.2022 10:44:28,16050.0,50,Чоловік,Blockchain,Other,15.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,667563fc9922d71c7c2bfa8e9fba9fbc,0,20,0,10,20,Wednesday
4,11.30.2022 10:46:30,8550.0,40,Чоловік,Blockchain,Married,1.0,"Вища (бакалавр, спеціаліст, магістр)",Одеса чи область,056d0a80808828a4d4017224fd17491e,0,20,20,0,-20,Wednesday

In [20]:
df2['DayCriterium'] = df2['Day'].apply(lambda x: 20 if x in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] else 0)
df2.head(7)

,Applied at,Amount,Age,Gender,Industry,Marital status,External Rating,Education level,Location,applicant_id,Score,AgeCriterium,MarriageCriterium,LocationCriterium,ExtCriterium,Day,DayCriterium
0,11.30.2022 10:26:37,12000.0,29,Чоловік,Blockchain,Other,8.0,"Вища (бакалавр, спеціаліст, магістр)",Івано-Франківськ чи область,99e7b0dc6cc05dd334d8f38dc26ce9b3,0,0,0,0,20,Wednesday,20
1,11.30.2022 10:30:00,NaN,22,Чоловік,Blockchain,Single,2.0,Ще студент вишу,NaN,bef0a5ba4df413cb8e1e3edeaf1f7de3,0,0,0,0,0,Wednesday,20
2,11.30.2022 10:36:59,30000.0,29,Чоловік,Blockchain,Single,7.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,d85404bd5576f05b711ad56cad428463,0,0,0,10,20,Wednesday,20
3,11.30.2022 10:44:28,16050.0,50,Чоловік,Blockchain,Other,15.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,667563fc9922d71c7c2bfa8e9fba9fbc,0,20,0,10,20,Wednesday,20
4,11.30.2022 10:46:30,8550.0,40,Чоловік,Blockchain,Married,1.0,"Вища (бакалавр, спеціаліст, магістр)",Одеса чи область,056d0a80808828a4d4017224fd17491e,0,20,20,0,-20,Wednesday,20
5,11.30.2022 10:48:36,8400.0,27,Чоловік,Blockchain,Married,6.0,"Вища (бакалавр, спеціаліст, магістр)",Черкаси чи область,56f735f424804136be23a2c0cce2ac65,0,0,20,0,0,Wednesday,20
6,11.30.2022 10:48:58,5400.0,19,Чоловік,Blockchain,Married,1.0,Ще студент вишу,Дніпро чи область,a4ba22c3ed6b416d74a4c348a1b83e21,0,0,20,0,-20,Wednesday,20

In [21]:
df2['Total_score'] = df2['Score'] + df2['AgeCriterium'] + df2['MarriageCriterium'] + df2['LocationCriterium']+ df2['ExtCriterium']+ df2['DayCriterium']

In [22]:
df2['Total_score'] = df2['Total_score'].apply(lambda x: max(0, min(x, 100)))

In [23]:
df2['Total_score'] = df2.apply(lambda row: 0 if pd.isna(row['Amount']) or row['External Rating'] == 0 else max(0, min(row['Total_score'], 100)), axis=1)

In [60]:
df2 = df2[df2['Total_score'] != 0]
df2.head()

,Applied at,Amount,Age,Gender,Industry,Marital status,External Rating,Education level,Location,applicant_id,Score,AgeCriterium,MarriageCriterium,LocationCriterium,ExtCriterium,Day,DayCriterium,Total_score
0,11.30.2022 10:26:37,12000.0,29,Чоловік,Blockchain,Other,8.0,"Вища (бакалавр, спеціаліст, магістр)",Івано-Франківськ чи область,99e7b0dc6cc05dd334d8f38dc26ce9b3,0,0,0,0,20,Wednesday,20,40
2,11.30.2022 10:36:59,30000.0,29,Чоловік,Blockchain,Single,7.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,d85404bd5576f05b711ad56cad428463,0,0,0,10,20,Wednesday,20,50
3,11.30.2022 10:44:28,16050.0,50,Чоловік,Blockchain,Other,15.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,667563fc9922d71c7c2bfa8e9fba9fbc,0,20,0,10,20,Wednesday,20,70
4,11.30.2022 10:46:30,8550.0,40,Чоловік,Blockchain,Married,1.0,"Вища (бакалавр, спеціаліст, магістр)",Одеса чи область,056d0a80808828a4d4017224fd17491e,0,20,20,0,-20,Wednesday,20,40
5,11.30.2022 10:48:36,8400.0,27,Чоловік,Blockchain,Married,6.0,"Вища (бакалавр, спеціаліст, магістр)",Черкаси чи область,56f735f424804136be23a2c0cce2ac65,0,0,20,0,0,Wednesday,20,40

In [61]:
df3 = pd.DataFrame(df2)

In [62]:
df3['Applied at'] = pd.to_datetime(df['Applied at'], format='mixed')

In [63]:
df3['submission_week'] = df3['Applied at'].dt.isocalendar().week

In [64]:
pivot_table = df3.pivot_table(values='Total_score', index='submission_week', aggfunc='mean')
print(pivot_table)

                 Total_score
submission_week
1                  52.492236
48                 49.793121
49                 51.243917
50                 53.233134
51                 44.010176
52                 55.083333

In [65]:
pivot_table.reset_index(inplace=True)